<%- include("partials/header.ejs") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 offset-md-3">
      <h1>About Me</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        lacinia lacinia diam, quis maximus sapien lacinia in. Phasellus diam mi,
        tincidunt sed sagittis at, pretium vitae dui. Morbi ac auctor augue, at
        dictum nunc. Donec ut metus ac quam congue elementum. Sed venenatis
        dapibus lacus, a porta nulla tristique non. Phasellus a diam ipsum.
        Etiam ac dolor sit amet metus cursus faucibus. Vivamus sit amet justo
        arcu. Duis at est tincidunt ligula lobortis mattis non nec metus.
        Quisque libero urna, sollicitudin eu pretium et, pretium placerat ante.
        Integer fringilla leo ut metus fringilla pretium. Sed euismod eros eget
        ex consequat sagittis. Duis viverra magna eu congue interdum. Nulla
        augue ipsum, pellentesque aliquet sem eu, ultricies cursus libero. Duis
        et purus porttitor, tristique nunc vitae, efficitur nisl. Aenean sit
        amet bibendum enim.
      </p>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
